<div class="container">

    <div class="page-header">
        <h1>Admin page</h1>
        <p class="lead">Where insert, modify or delete any verb in the lists.</p>
    </div>


    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> Easy
        </label>
        <label class="btn btn-primary">
            <input type="radio" name="options" id="option2" autocomplete="off"> Medium
        </label>
        <label class="btn btn-primary">
            <input type="radio" name="options" id="option3" autocomplete="off"> Hard
        </label>
    </div>

    <br>
    <br>

    <table class="table table-striped">
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Age</th>
        </tr>
        <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
        </tr>
        <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td>94</td>
        </tr>
    </table>


</div> <!-- /container -->

