<!DOCTYPE html>


<html>
<head>
    <meta charset="UTF-8">
    <title>IV Checker Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ####################################
    #       StyleSheets  Dependencies       #
    ##################################### -->

    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css"/>


    <!-- ####################################
    #       Libraries  Dependencies         #
    ##################################### -->

    <script src="vendor/jquery/dist/jquery.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="../vendor/angular/angular.min.js"></script>
    <script src="../vendor/angular-resource/angular-resource.min.js"></script>
    <script src="../vendor/angular-ui-router/release/angular-ui-router.min.js"></script>

    <!-- # Mainly modules # -->
    <script src="../js/main/main.module.js"></script>

    <!-- Admin module -->
    <script src="../js/admin/admin.module.js"></script>

    <!-- Game module -->
    <script src="../js/game/game.module.js"></script>

    <!-- Ranking module -->
    <script src="../js/ranking/ranking.module.js"></script>

    <!-- Verbs module -->
    <script src="../js/verbs/verbs.module.js"></script>


</head>

<body>

<div ng-app="main" ng-controller="AppCtrl" ng-cloak>

    <!--Place when we will have the nested views, we will inject our code. -->
    <div ui-view></div>

</div>


</body>
</html>


